{% extends 'KaymoreyPortfolioBackBundle::layout.html.twig' %}
{% block content %}
<div class="row">
	<div class="span12">
		<h3>Projets <small>LISTE DES PROJETS</small></h3>
		<a class="btn btn-success" href="{{ path('portfolioback_projects_add') }}"><i class="icon-plus-sign icon-white"></i> Ajouter un projet</a>
		<hr />
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Image d'aperçu</th>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Documents</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for projet in projets %}
				{% set i = 0 %}
				{% for doc in docs %}
					{% if doc.work.id == projet.id %}
					{% set i = i+1 %}
					{% endif %}
				{% endfor %}
				<tr>
					<td class="img"><img src="{{ asset('uploads/works/'~projet.img) }}" alt="{{ projet.title }}" /></td>
					<td>{{ projet.title }}</td>
					<td>{{ projet.category.title }}</td>
					<td><span class="badge badge-info">{{ i }}</span><a class="btn btn-link" href="{{ path('portfolioback_projects_docs', {'id' : projet.id}) }}">Voir</a></td>
					<td>
						<p>
							<a class="btn btn-info" href="{{ path('portfolioback_projects_edit', {'id' : projet.id}) }}"><i class="icon-pencil icon-white"></i> Modifier</a>
							<a class="btn btn-danger fancy-remove" href="{{ path('portfolioback_projects_remove', {'id' : projet.id} ) }}" data-id="{{ projet.id }}"><i class="icon-remove icon-white"></i> Supprimer</a>
						</p>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
